APP_NAME="Bera Halı"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_TIMEZONE=Europe/Istanbul
APP_URL=http://berahali_satis.test
APP_LOCALE=tr
APP_FALLBACK_LOCALE=tr
APP_FAKER_LOCALE=tr_TR

LOG_CHANNEL=stack
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=berahali_satis
DB_USERNAME=root
DB_PASSWORD=

SESSION_DRIVER=file
SESSION_LIFETIME=120
QUEUE_CONNECTION=sync
CACHE_STORE=file
FILESYSTEM_DISK=local

MAIL_MAILER=log
MAIL_FROM_ADDRESS="info@berahali.com"
MAIL_FROM_NAME="${APP_NAME}"

IYZICO_API_KEY=sandbox-apiKey
IYZICO_SECRET_KEY=sandbox-secretKey
IYZICO_BASE_URL=https://sandbox-api.iyzipay.com
